/*
Author:  Arda Agar
Date: 24-2-22

praktijkopdracht
*/

/*changing the background color and the height*/
html,body
{
    background-color: #000;
    height: 100%;
}
h1
{
    text-align:center;
    color: #fff;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
    margin: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bolder;
    font-family: DaysOne;
}

li a:hover {
    background-color: coral;
}
/* adding a new font family */
@font-face {
    font-family: DaysOne;
    src: url("../fonts/DaysOne_Regular.ttf");
}
/* positions the logo to the left of the screen */
img{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 40px ;
}

#Homepage
{
    width: 100%;
    height: 100%;
}
/* changing the background color of the div element and the margin*/
div
{
    background-color: coral;
    margin: 20px;
}
/*changing the color of all h2 elements*/
h2
{
    color: #fff;
}
/*increasing the font size and weight. and the visibility*/
p
{
    font-size: larger;
    font-weight: bold;
    color: #fff;
    margin: 20px;
    visibility: hidden;
}

/*
position of the buttons and sizing
*/
#Button1 , #Button2 , #Button3, #Button4
{
    position: relative;
    bottom: 48px;
    font-size: 20px;
    color: #fff;
    background-color: black;
    float: right;
    padding: 3px;
    cursor: pointer;
    border: 1px #fff solid;
}
/*
sizing of the buttons and the visibilty
*/
#CloseButton1, #CloseButton2, #CloseButton3, #CloseButton4
{
    visibility: hidden;
    font-size: 20px;
    float: right;
    background-color: black;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    border: 1px #fff solid;
}
/*
position of the buttons
*/
#CloseButton1
{
    position: absolute;
    top: 188px;
    right: 29px;
}
/*
position of the buttons
*/
#CloseButton2
{
    position: absolute;
    top: 235px;
    right: 29px;
}
/*
position of the buttons
*/
#CloseButton3
{
    position: absolute;
    top: 282px;
    right: 29px;
}
/*
position of the buttons.
*/
#CloseButton4
{
    position: absolute;
    top: 330px;
    right: 29px;
}