/*
Author: Arda Agar
Date: 11-5-2022

Stylesheet
*/

html, body
{
    height: 100%;
    margin: 0;
    font-family: Open Sans, arial , sans-serif;
}


.Logo
{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

nav
{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

li
{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 5px;

}

li > a
{
    text-decoration: none;
    color: black;
    border-right: solid 1px #b2071a;
    padding-right: 10px;

}

a:hover
{
    text-decoration: underline;
}

.Homepage
{
    width: 95%;
    margin-left: 5px;
}

.Login
{
    font-weight: bold;
}

ul
{
    width: 100%;
}

form , p
{
    text-align: center;
}

.username
{
    margin-top: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

.password
{
    margin-left: 12px;
    margin-right: 12px;
}

.submit
{
    margin-top: 15px;
    margin-bottom: 215px;
}

.log_out
{
    text-align: right;
    margin-left: 850px;
}

footer > a , footer
{
    background-color: #80725f;
    color: #fff;
    padding-top: 30px;
}

footer > p
{
    margin: 25px;
    padding: 25px;
}

.return
{
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.return:hover
{
    text-decoration: none;
    font-weight: bolder;
}

h1
{
    text-align: center;
}

table, tr,td
{
    border: black 1px solid;
    margin-top: 30px;
    margin-bottom: 320px;
}
